@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

header {
    background-color: #d96846;
    color: #f5f5f5;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins';
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Nunito';
    font-size: 18px;
}
header nav ul li {
    margin-right: 18px;
    margin-left: 18px;
}
header nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f5f5f5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #596234;
}

header nav ul li a:hover {
    font-size: inherit; 
    transition: none;
    color: #596234;
}
